%table{ :id => "#{dom_id(comment)}", :class => "comment"}
  %tr.span-10
    %th #{comment.user.email} wrote #{time_ago_in_words(comment.updated_at)} ago:
  %tr.comment-content-row
    %td{ :style => "high:600px; width:600px;"}
      %textarea{ :id => "#{dom_id(comment)}_content", :class => "existing_comment"}
        = comment.content

  - if current_user == comment.user
    %tr
      %td
        %a{ :id => "#{dom_id(comment)}_edit_link", :class => "comment_edit_link", :href => "javascript:void(0);", :comment_id => "#{dom_id(comment)}"} Edit
        = link_to "Update", comment, :method => :put, :remote => true,  :id => "#{dom_id(comment)}_update_link", :class => "comment_update_link", :comment_id => "#{dom_id(comment)}"
        |
        = link_to "Delete", comment, :method => :delete, :confirm => "Please approve the comment deletion", :remote => true






