-#%table
-#  %tr
- _MAX_DISPLAYED_CAT = 3
- cat_index = 0
- task.categories.each do |category|
  - if (cat_index == _MAX_DISPLAYED_CAT)
    %td{:style => "padding-left:1px; padding-right:5px"} ...
    - break
  - cat_index += 1
  %td{ :class => "task-category-color_#{dom_id(category)}",
  :style => "width:60px; background:#{category.color}; border:solid 1pt lightblue; border-radius:3pt; text-align:center; "}
    = truncate(category.name, :length => 10)


    -#- (1.._MAX_DISPLAYED_CAT).each do |cat_index|
    -#  %td{:class => "#{dom_id(task)}_category_container_#{cat_index}", :available => "true"}
    -#    %div{:style => "visibility:hidden; width:60px; border:solid 1pt lightblue; border-radius:3pt; text-align:center; "}
    -#%td{:style => "visibility:hidden; padding-left:1px; padding-right:5px"} ...
