<%= div_for(task) do %>
    <h3 class="task">
      <%= link_to task.name, task %>
    </h3>
    <div class="field">
      <%= check_box_tag 'Completed?','complete',task.completed  %>
      <%= simple_format task.description %>
      <%= task.due_date %>
    </div>
<% end %>