<% if not current_user %>
    <div class="span-24">
      <h1>Welcome to WebTask!</h1><br/>
      <h3>Please login or join to start</h3>
    </div>
<% end %>
<% if current_user %>
    <div class="span-20 last" id="task-table">
      <!--<h1>Listing Tasks</h1>-->

      <table>

        <th>Name</th>
        <th>Description</th>
        <th>Due date</th>
        <th></th>
        <% counter = 0 %>
        <% @tasks.each do |task| %>
            <% counter = counter + 1 %>

            <tr id='<%= 'task-' + task.to_param %>'
                class="<% if task.completed? %>strikeout <% end %><%if counter.even? %>alt<% end %>">

              <td><%= truncate task.name, :length => 40 %></td>
              <td><%= truncate task.description, :length => 50 %></td>
              <td><%= task.due_date %></td>
              <td>
                <%= form_tag(mark_complete_url(:id => task.to_param), :remote => true) do %>
                    <%= submit_tag toggle_complete_text(task), :id => "mark-complete-button-#{task.to_param}" %>
                    <br/>
                    <%= link_to 'Show', task, :id => "task_link" %>
                    <%= link_to 'Edit', edit_task_path(task) %>
                    <%= link_to 'Delete', task, :confirm => 'Are you sure?', :method => :delete %>
                <% end %>
              </td>
            </tr>

        <% end %>
      </table>
    </div>

<% end %>
