<% if not current_user %>
    <div>
      <h1>Welcome to WebTask!</h1><br/>
      <h3>Please login or join to start</h3>
    </div>
<% end %>
<% if current_user %>
    <!--<h1>Listing Tasks</h1>-->

    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Due date</th>
        <th>Completed</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @tasks.each do |task| %>
          <% if task.owned_by? current_user %>
              <tr class="task_row">
                <td><%= task.name %></td>
                <td><%= task.description %></td>
                <td><%= task.due_date %></td>
                <td><%= check_box_tag 'completed', nil , task.completed %></td>
                <td><%= link_to 'Show', task %></td>
                <td><%= link_to 'Edit', edit_task_path(task) %></td>
                <td><%= link_to toggle_complete_text(task), mark_complete_task_path(task) %></td>
                <td><%= link_to 'Delete', task, :confirm => 'Are you sure?', :method => :delete %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
<% end %>

<br />
