<% if not current_user %>
    <div>
      <h1>Welcome to WebTask!</h1><br/>
      <h3>Please login or join to start</h3>
    </div>
<% end %>
<% if current_user %>
    <!--<h1>Listing Tasks</h1>-->

    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Due date</th>
        <th></th>


      <% @tasks.each do |task| %>

          <tr id='<%= 'task-' + task.to_param %>' class="table-row <% if task.completed? %>strikeout<% end %>">
            <td><%= simple_format raw(task.name) %></td>
            <td><%= simple_format raw(task.description) %></td>
            <td><%= task.due_date %></td>
            <td>
              <%= form_tag(mark_complete_url(:id => task.to_param), :remote => true) do %>
                  <%= submit_tag toggle_complete_text(task) , :id => "mark-complete-button-#{task.to_param}" %>
                  <br/>
                  <%= link_to 'Show', task %>
                  <%= link_to 'Edit', edit_task_path(task) %>
                  <%= link_to 'Delete', task, :confirm => 'Are you sure?', :method => :delete %>
              <% end %>
            </td>

          </tr>

      <% end %>
    </table>
<% end %>

<br />
