%script{:src => "/javascripts/jquery-defaultvalue-1.0.js", :type => "text/javascript"}
%script{:charset => "UTF-8", :type => "text/javascript"}
  $(function()
  {
  \// Define the css class your textbox will have, when showing default value
  \//$('#new_task_input').setDefaultValue({ css : 'new_task_input'});
  $('#create_new_task_textbox').setDefaultValue({ css: 'quiet' });

  if (($("#task-list-open div").length <= 0)) $("#open-task-container").hide();
  if (($("#task-list-completed div").length <= 0)) $("#completed-task-container").hide();
  });

.span-20.ui-widget-content.ui-corner-all.tasks-container
  = form_for(Task.new, :remote => true)  do |f|
    = f.text_field :name, :id => "create_new_task_textbox", :title => "Type here to create a new task..."
    = submit_tag :Add

  %ul.button_list
    #task-list.span-20
      #open-task-container
        %table.ui-widget-header.ui-corner-all.task-container-table
          %td
            %span.widget_header_text
              Open Tasks
        #task-list-open
          = render @open_tasks
      #completed-task-container
        %table.ui-widget-header.ui-corner-all.task-container-table
          %td
            %span.widget_header_text
              completed Tasks
        #task-list-completed
          = render @completed_tasks
