.prepend-1.span-19
  %table
    %tr
      %h3= @task.name
    %tr
      - unless (@task.description == nil or  @task.description.empty?)
        %b Description:
        %textarea#task-show-description{:name => "description"}= @task.description
    %tr.span-10
      %td.prepend-0
        %b Completed:
        = @task.completed
      %td.prepend-1
        - if @task.due_date
          %b Due date:
          = @task.due_date
    %tr
      %td
        = link_to 'Edit', edit_task_path(@task)

