
<div class="prepend-1 span-19">
  <%= javascript_include_tag :ckeditor %>
  
  <p id="notice"><%= notice %></p>
  <p>
    <h3><%= @task.name %></h3>
  </p>

  <p>
    <b>Completed:</b>
    <%= @task.completed %>
  </p>

  <p>
    <b>Description:</b>
    
    <textarea id="description" name="description"><%=@task.description%></textarea>        
    
<!--
    <script type="text/javascript"
            src="javascripts/extensions/ckeditor_add_readonly_functionality.js"/>
-->
    <script type="text/javascript">
      // Providing editor 'read-only' toggling functionality. 
      ( function()
      {
         var cancelEvent = function( evt )
            {
               evt.cancel();
            };
      
         CKEDITOR.editor.prototype.readOnly = function( isReadOnly )
         {
            // *** this.document.$ is undefined ***
            // Turn off contentEditable.
            //this.document.$.body.disabled = isReadOnly;
            //CKEDITOR.env.ie ? this.document.$.body.contentEditable = !isReadOnly
            //: this.document.$.designMode = isReadOnly ? "off" : "on";
      
            // Prevent key handling.
            this[ isReadOnly ? 'on' : 'removeListener' ]( 'key', cancelEvent, null, null, 0 );
            this[ isReadOnly ? 'on' : 'removeListener' ]( 'selectionChange', cancelEvent, null, null, 0 );
      
            // Disable all commands in wysiwyg mode.
            var command,
               commands = this._.commands,
               mode = this.mode;
      
            for ( var name in commands )
            {
               command = commands[ name ];
               isReadOnly ? command.disable() : command[ command.modes[ mode ] ? 'enable' : 'disable' ]();
               this[ isReadOnly ? 'on' : 'removeListener' ]( 'state', cancelEvent, null, null, 0 );
            }
         }
      } )();
    </script>

    <script type="text/javascript">
      // Replacing the description text area to a ckeditor
      CKEDITOR.replace( 'description' );

      // Turn CKEditor into 'ready-only' mode.
      CKEDITOR.instances.description.readOnly( true );      

      // Try to empty the toolbar
      CKEDITOR.instances.description.config.toolbar = 'Empty';
    </script>
  </p>

  <p>
    <b>Due date:</b>
    <%= @task.due_date %>
  </p>

  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Back', tasks_path %>
</div>