<div class="prepend-1 span-19">
  <%= include_tiny_mce_if_needed :readonly => 1 %>
  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @task.name %>
  </p>

  <p>
    <b>Completed:</b>
    <%= @task.completed %>
  </p>

  <p>
    <b>Description:</b>
     <%= text_area_tag "Description", @task.description, :class => "mceEditor" %>
  </p>

  <p>
    <b>Due date:</b>
    <%= @task.due_date %>
  </p>


  <%= link_to 'Edit', edit_task_path(@task) %> |
  <%= link_to 'Back', tasks_path %>
</div>