.prepend-1.span-19
  = javascript_include_tag :ckeditor
  %p#notice= notice
  %p
    %h3= @task.name
  %p
    %b Completed:
    = @task.completed
  %p
    %b Description:
    %textarea#description{:name => "description"}= @task.description
    :javascript
      // Replacing the description text area to a ckeditor
      CKEDITOR.replace( 'description' );

      // Turn CKEditor into 'ready-only' mode.
      CKEDITOR.instances.description.readOnly( true );

      // Try to empty the toolbar
      CKEDITOR.instances.description.config.toolbar = 'Empty';

    %b Due date:
    = @task.due_date
  = link_to 'Edit', edit_task_path(@task)
  |
  \#{link_to 'Back', tasks_path}
