.prepend-1.span-19
  -#%p#notice= notice
  %p
    %h3= @task.name
  %p
    %b Completed:
    = @task.completed
  %p
    %b Description:
    %textarea#task-show-description{:name => "description"}= @task.description
    %b Due date:
    = @task.due_date
  = link_to 'Edit', edit_task_path(@task)
  |
  \#{link_to 'Back', tasks_path}
