.prepend-1.span-19
  %table
    %tr
      %h3= @task.name
    %tr
      - unless (@task.description == nil or  @task.description.empty?)
        %b Description:
        %textarea#task-show-description{:name => "description"}= @task.description
    %tr.span-10
      %td.prepend-0
        %b Completed:
        = @task.completed
      %td.prepend-1
        - if @task.due_date
          %b Due date:
          = @task.due_date
    %tr
      %td
        = link_to 'Edit', edit_task_path(@task)

  %p
    %hr{ :style => "width:610px;"}
    %h3 Comments
    %ul#comments.comment_list
      = render :partial => "comments/comment", :collection => @task.comments, :as => :comment

  -#Add comment mini form
  %p
    %hr{ :style => "width:610px;"}
    %h3 Add your comment
    = form_for(Comment.new, :remote => true)  do |f|
      = hidden_field_tag 'task_id', @task.id
      = f.text_area :content, :id => "new_comment_textbox"
      = submit_tag :Add

