= div_for(category) do
  %li.ui-state-default.ui-corner-all
    %table
      %tbody.ui-state-default
        %tr
          %td.category_color_container
            %input{ :id => "#{category.id}", :class => "CPicker", :readonly => "readonly", :style => "background:#{category.color}" }
            %input{ :id => "hiddenColorValue_#{dom_id(category)}", :type => "hidden"}
          -#TODO: remove the id attribute from the tds #category_name #category_menu
          %td
            = link_to category_tasks_path(:category_id => category.id), :id => "category_link" do
              %strong
                = truncate category.name, :length => 16
