
= div_for(category) do
  %table
    %tbody
      %tr
        %td{ :style => "width:20px;"}
          %input{ :id => "#{category.id}", :class => "CPicker", :readonly => "readonly",
          :style => "background:#{category.color}; height:13px; width:13px; border:solid 1pt lightblue;  " }
          %input{ :id => "hiddenColorValue_#{dom_id(category)}", :type => "hidden"}

        -#TODO: remove the id attribute from the tds #category_name #category_menu
        %td{ :style => "width:600px;"}
          = link_to category_path(category) do
            %strong
              = truncate category.name, :length => 16
        %td
          %span
            Change name
        %td
          = link_to 'Delete', category, :confirm => 'Are you sure?', :method => :delete

