!!!
%html
  %head
    %script{:language => "JavaScript", :src => "javascripts/jQuery.js"}
    %script{:src => "javascripts/jscolor/jscolor.js", :type => "text/javascript"}
    %title= @title
    = javascript_include_tag :ckeditor
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = render 'partials/stylesheets'
    = render 'partials/google_analytics'
  %body
    = render "layouts/header"
    .container
      #main.span-24.container_12
        = content_tag(:p, notice, :class => 'success') if notice.present?
        = content_tag(:p, alert, :class => 'alert') if alert.present?
        = content_for?(:content) ? yield(:content) : yield
      = render :partial => 'layouts/footer'
