#auth_form.prepend-7
  #auth_form_content.span-9
    %h2 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      %p
        %span.span-3= f.label "Email:"
        %span= f.text_field :email
        %span.span-3= f.label "Password:"
        %span= f.password_field :password
        %span.span-3= f.label "Password Confirmation:"
        %span= f.password_field :password_confirmation
      %p= f.submit "Sign up"
    %hr/
    Already have an account on these services? Sign in with:
    %br/
    .oauth_buttons
      = link_to "Facebook", user_omniauth_authorize_path(:facebook), :class => "facebook"
      = link_to "Google", user_omniauth_authorize_path(:open_id, |
        :openid_url => "https://www.google.com/accounts/o8/id"), |
        :class => "google"                                       |
    %br/
    %br/
%hr/
= render :partial => "devise/shared/links"
